<form method="post" action="/landmarks">
  Name: <input type="text" name="landmark[name]"><br>
  Year Completed: <input type="text" name="landmark[year_completed]"><br>
  <input type="submit" value="submit">
</form>
