<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Landmark</title>
  </head>
  <body>
    <h1>New Landmark</h1>

    <form action="/landmarks" method="post">
      Name: <input type="text" name="name"><br><br>
      Year Completed: <input type="number" name="year_completed"  min="1000" max="2018"><br><br>
      Figures:<br><br>
      <% @figures.each do |figure| %>

        <input type="radio" name="figure_id" value="<%= figure.id %>"> <%= figure.name %><br>
        <br>
      <%end%>
      <br><br>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
