<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @landmark.name %></title>
  </head>
  <body>

    <table>
      <tr>
        <th>Name</th>
        <th>Year Completed</th>
      </tr>
      <tr><%=@landmarks%>
        <td><%= @landmark.name %></td>
        <td><%= @landmark.year_completed %></td>
      </tr>
    <table>


  </body>
</html>
