<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Figures</title>
  </head>
  <body>
    <h1>All Figures</h1>
    <% @figures.each do |figure| %>
    <ul>
      <h3><%= figure.name %></h3>
      <!-- <li><%= figure.titles.name %></li> -->
      <li><a href="/figures/<%=figure.id%>/edit">Edit</a></li>
    </ul>
    <% end %>



  </body>
</html>
