<p><% @figures.each do |figure| %>
  Figure Name: <%= figure.name %><br>
  Figure Title: <% figure.titles.each do |title| %><br/>
    <%= title.name %>
  <% end %><br/><br/>


  <a href="/figures/<%= figure.id %>">This figures page</a><br>
  <a href="/figures/<%= figure.id %>/edit">Edit This Figure</a><br>


  <p>------------------------------------------------</p>
<% end %></p>
