
<form method="post" action="/figures">
  Name: <input type="text" name="figure[name]"><br>

  <h2>Titles</h2>
    <% @titles.each do |title| %>
    <p><%= title.name %><input type="checkbox" name="figure[title_ids][][<%=title.name%>]" id= "title_name"></p>
    <% end %>




  Create New Title: <br><input type="text" name="title[name]">

    <% @landmarks.each do |landmark| %>
      <% if landmark.figure == nil %>
        <p><%= landmark.name %><input type="checkbox" name="figure[landmark_ids][][<%=landmark.name%>]" id="landmark_name"></p>
      <% end %>
    <% end %>

  Name: <input type="text" name="landmark[name]"><br>
  Year Completed: <input type="text" name="landmark[year_completed]"><br>
  <input type="submit" value="Create New Figure">
</form>
