<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @figure.name %></title>
  </head>
  <body>

    <table>
      <tr>
        <th>Figure Name</th>
        <th>Title Name</th>
      </tr>
      <tr>
        <td><%= @figure.name %></td>
        <td><%= @figure.title.name %></td>
      </tr>
    <table>


  </body>
</html>
